@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;800;900&display=swap');

body{
  height: 100%;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
}

.container{
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer__container{
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  background: #fff;
}

@media (max-width: 1200px) {
  .container{
    max-width: 1025px;
  }
}
@media (max-width: 1024px) {
  .container{
    max-width: 769px;
  }
}

@media (max-width: 768px) {
  .container{
    max-width: 481px;
  }
}

@media (max-width: 480px) {
  .container{
    max-width: 320px;
  }
}
