*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav, footer, header {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

input, button, textarea {
  font: inherit;
  color: inherit;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit;
}
